.node {
    display: flex;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.25rem 1rem;
    cursor: pointer;
    align-items: center;

    &:hover {
        .nodeIconWrapper,
        .nodeIconWrapper svg.baseIcon,
        .nodeLabel {
            color: var(--colors-PrimaryBlueHover);
        }
    }
}

.nodeLabel {
    overflow-x: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
}

.nodeForeign {
    opacity: 0.8;
    font-style: italic;
    text-decoration: underline;
}
