.loadMoreButton {
    width: 100% !important;
    opacity: 1 !important;
}

.tabsContent {
    height: calc(100% - 42px);
}

.tabsPanel {
    height: 100%;
}

.panel {
    height: 100%;
    overflow-y: hidden;
}

.toolbar {
    background-color: var(--colors-ContrastDarker);
    border-bottom: 1px solid var(--colors-ContrastDark);
    display: flex;
}
.toolbarButtons {
    flex-shrink: 0;
    flex-grow: 1;
}

.toolbarSearch {
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.toolbarSearchInput {
    border-radius: 0;
}

.toolbarSearchInput:focus {
    background-color: var(--colors-ContrastDark);
    color: var(--colors-ContrastBrightest);
}
.toolbarSearchClearButton {
    background-color: var(--colors-ContrastDark);
}
.toolbarSearchNoResults {
    padding: 5px 10px;
}

.pageTreeContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--colors-ContrastDarker);
    border-right: 1px solid var(--colors-ContrastDark);
    border-bottom: 1px solid var(--colors-ContrastDark);
}

.treeWrapper {
    flex-grow: 1;
    padding: 5px 0;
    overflow-y: scroll;
}

.pageTreeToolbarOriginal :is(div) {
    border-top: 0;
}

.pageTreeContainerOriginal {
    flex-direction: column;
    flex: 0 auto;
    display: flex;
    height: 100%;
}

.node {
    display: flex;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.25rem 1rem;
    cursor: pointer;
    align-items: center;

    &:hover {
        .nodeIconWrapper,
        .nodeIconWrapper svg.baseIcon,
        .nodeLabel {
            color: var(--colors-PrimaryBlueHover);
        }
    }
}

.nodeFocused {
    background-color: var(--colors-ContrastNeutral);
}
.nodeFocused .nodeLabel {
    color: var(--colors-PrimaryBlue);
}
.nodeDirty {
    border-left: 2px solid var(--colors-Warn);
}
.nodeRemoved {
    cursor: not-allowed;
    border-color: var(--colors-Error);
}

.nodeForeign {
    opacity: 0.8;
    font-style: italic;
}

.nodeForeign:hover {
    opacity: 1;

    .nodeLabel {
        color: white;
    }

    svg {
        color: var(--colors-PrimaryBlue);
    }
}

.nodeLabel {
    overflow-x: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
}

.treeItemYear {
    height: auto;
    font-size: 18px;
    width: 100%;
    padding: 1.6rem 1rem;
    text-align: center;
}

.treeItemDay {
    height: auto;
    font-size: 16px;
    opacity: 0.8;
    width: 100%;
    padding: 0.8rem 1rem;
}
