.modalContents {
    padding: var(--spacing-Full);
}

.modalIframe {
    width: 80vw;
    max-width: 1200px;
    height: calc(80vh - 190px);;
}

.copyDescriptionCorner {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.spinner {
    margin-inline: auto;
    display: block;
}
